.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

# Actudent ignored files
public/app-assets
public/assets/scss
public/assets/js/vue-2.5.17
public/assets/js/vue-2.5.17.zip
application/views/vertical-menu-template
application/controllers/test/
application/controllers/trash
application/models/trash
user_guide/
.vscode
