/*
 * Actudent Night Vision additional style
 */

body {
    color: #ffffff;
}

.night-body {
	background-color: #606371 !important;
}

html body .content .content-wrapper .content-header-title {
	color: #fafbff;
}

.night-card {
	background-color: #2C303B !important;
}

.night-card-title {
	color: #f5f5f5 !important;
}

.table-white-font {
	color: #fff;
}

.table thead th {
	border-bottom: 1px solid #acb1b780;
	border-top: 1px solid #acb1b780;
}

.table td {
    border-bottom: 1px solid rgba(117, 111, 111, 0.3) !important;
}

.pagination .page-link {
    color: #B0BBC3;
    background-color: #fff0;
}

.page-item.active .page-link {
    background-color: #5c5a5b;
    border-color: #BABFC7;
}

.page-link:hover {
    background-color: #5c5a5b;
    color: #fff;
}

footer.navbar-border {
	border-top: 1px solid #E4E7ED4D;
}

.form-control, .picker__input, .pickadate-selectors,
.input-group-text {
    background-color: #fff0;
}

.form-control:disabled, .form-control[readonly] {
	background-color: #596268;
}

.input-group-text {
    color: #fff;
}

.form-control:focus {
	color: #FFF;
	background-color: #fff0;
}

.form-control.border-primary:focus {
	border: 1px solid #31D4C2 !important;
}

form .form-control,
.form-control {
	color: #f6f0f0;
}

select.form-control {
	color: #fff;
}

select option {
    color: #000;
}

.modal-body {
    background-color: #2C303B;
}

form label {
	color: #d2d3d5;
}

.modal-header {
    border-bottom: 1px solid #5B687E4D;
}

.modal-footer {
	border-top: 1px solid #98A4B84D;
    background-color: #2C303B;
    border-bottom-left-radius: 0.35rem;
    border-bottom-right-radius: 0.35rem;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    background-color: rgba(0, 0, 0, 0);
}

.select2-selection .select2-selection--multiple,
.select2-selection .select2-selection--single {
    border-color: 1px solid #666EE8 !important;
}

.select2-container--default .select2-selection--single .select2-selection--multiple 
.select2-selection__rendered {
    color: #ece0e0;
}

.select2-dropdown {
    background-color: rgba(53, 70, 77) !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #c8bcbc;
	line-height: 28px;
}

.dropdown-item {
    color: #C9D1D5;
}

input.select2-search__field {
    background-color: rgba(50, 49, 39, 0.8);
    color: #f5f5f5;
}

.fc-left, .fc-center > h2 {
    color: #fff;
}

.fc-unthemed td.fc-today {
    background-color: #565656 !important;
}

.picker__holder, .picker__footer button,
.picker__list {
    background-color: rgba(53, 70, 77) !important;
}

.picker__list-item:hover {
    background-color: rgb(20, 36, 41) !important;
}

.picker__footer button {
    color: #fff;
}

.picker__day--today {
    background-color: #2a2e30 !important;
}

.picker__select--year, .picker__select--month {
    background-color: #2a2e30;
    color: #f5f5f5;
}

select.picker__select--year option, select.picker__select--month option {
    color: #f5f5f5;
}

.picker__day--disabled, .picker__day--disabled:hover {
    background-color: #6b6f82 !important;
}

.picker__nav--next:hover, .picker__nav--prev:hover {
    background-color: #282b2d !important;
}

.list-group-item {
    background-color: #2e3c45;
    border: 1px solid #43454A;
    color: #f5f5f5;
}

#timeline.timeline-center .timeline-item:nth-child(even):before {
    border-left: 12px solid #2C303B !important;
    z-index: 100 !important;
}

#timeline.timeline-center .timeline-item:nth-child(odd):before {
    border-right: 12px solid #2C303B !important;
    z-index: 100 !important;
}

.card-footer {
	border-top: 1px solid #11041A24;
}

.note-btn.btn.btn-default.btn-sm {
    background-color: #2a2b31;
    color: #f5f5f5;
    border-color: #4a4a64e0;
}

.note-btn.btn.btn-default.btn-sm.note-current-color-button {
	color: #000;
}

.note-editor.note-frame {
	border: 1.5px solid #242424 !important;
}

.note-toolbar.panel-heading,
.dropdown-menu {
    background-color: #2a2b31;
}

.modal-header {
    background-color: #464855 !important;
    color: white;
}

kbd {
    background-color: #435a88 !important;
}

.note-editor.note-frame .note-editing-area .note-editable {
	padding: 10px;
	overflow: auto;
	color: #ece4e4 !important;
	word-wrap: break-word;
	background-color: #464855 !important;
}

.soft-dark:hover {
    background-color: #2e3c45 !important;
}

.soft-list:hover {
    background-color: rgb(35, 52, 58);
    color: #fff;
}