.error-text {
	color: rgb(241, 89, 63) !important;
}

.loading-text {
	color: #000;
}

.success-text {
	color: #3dd926 !important;
}

.error-text, .loading-text, .success-text {
    font-weight: bold;
}

.cursor-pointer {
	cursor: pointer;
}

.cursor-disabled {
	cursor: not-allowed;
}

.nav-link-white {
	color: #F2F2F2 !important;
}

.fly-alert {
	position: fixed;
	z-index: 9;
	top: 40%;
	width: 80%;
}

@media (min-width: 576px) {
	.fly-alert {
		width: 85%;
	}
}

@media (min-width: 768px) {
	.fly-alert {
		width: 80%;
	}
}

@media (min-width: 992px) {
	.fly-alert {
		left: 30%;		
		width: 50%;
	}
}

.list-group-custom {
	overflow-y: scroll;
	min-height: 100px;
	max-height: 300px;
}

.list-group-item-custom {
	padding: 0.35rem 1.25rem !important;
}

.add-margin-top-5px {
	margin-top: 5px;
}

.add-margin-bottom-5px {
	margin-bottom: 5px;
}

.add-margin-right-5px {
	margin-right: 5px;
}

.add-margin-left-5px {
	margin-left: 5px;
}
