// app global css in SCSS form

.img-thumbnail {
  border: solid 5px floralwhite;
}

.justify-data-options {
  padding-right: 0;
}

.card-section {
  max-height: 100vh;
}

@media(min-width: 1023px) {
  .justify-data-options {
    padding-right: 10px;
  }

  .card-section {
    max-height: 60vh;
  }
}

.table-scroll-area {
  height: 55vh; 
  max-width: 100vw; 
  margin-top: -30px
}

.no-paging-scroll-area {
  height: 60vh; 
  max-width: 100vw; 
}

@media(min-width: 1920px) {
  .table-scroll-area {
    height: 73vh; 
  }
}

.on-left {
  margin-right: 8px !important;
}

.decrease-col-size {
	width: 25px;
	padding-right: 0 !important;
  padding-left: 10px !important;
}

.force-elevated {
  z-index: 999 !important;
}