// app global css in SCSS form

@media(max-width: $breakpoint-xs-max) {
  .mobile-form-btn {
    width: 100%;
    border-radius: 30px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-top: 10px;
  }
}

.fc .fc-scrollgrid-section-sticky > * {
  background: var(--fc-page-bg-color) !important
}

.check-btn {
  top: 45px;
  right: 10px;
  transform: translateY(-50%);
  padding: 40px 13px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media(max-width: $breakpoint-sm-max) {
  .check-btn {
    top: 60px;
    padding: 20px 13px;
  }
}

@media(max-width: $breakpoint-xs-max) {
  .my-card {
    margin-top: 10px;
  }
}

.bg-login {
  height: calc(100vh + 5px);
  overflow: hidden;
  margin-top: -5px;
  z-index: 99;
}

.auth-box {
  width: 100%;
  // border-radius: 8px !important;
  box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.3);
  // background-color: #fff;
}

.auth-box-dark {
  border-color: rgba(255, 255, 255, 0.28);
  background: var(--q-dark);
  color:#fff;
  margin-top: 30px;
}

@media(max-width: $breakpoint-xs-max) {
  .auth-box, .auth-box-dark {
    margin-top: 60px;
    margin-left: 5% !important;
    background-color: transparent;
    box-shadow: none;
  }

  .auth-input, .auth-input-dark {
    border-radius: 28px !important;
  }

  .powered-style {
    filter: invert(1);
  }

  .bg-img-light {
    background: #fff !important;
  }
  .input-color {
    color: #000 !important;
  }
}

@media(max-width: $breakpoint-sm-max) {
  .auth-box, .auth-box-dark {
    margin-top: 80px;
  }
}

.bg-img-light {
  background: url('../../public/bg-login-light.png');
  background-size: cover;
}

.bg-img-dark {
  background: url('../../public/bg-login-dark.png');
  background-size: cover;
  margin-left: -10px;
}

$input-focus-bg: #6252c76c;

.auth-input, .auth-input-dark {
  border-radius: 6px;
}

.auth-input {
  background-color: #66a3ff9a;
  border-inline: solid 0px #8c19d8;
  transition: all 0.15s ease;
}

.auth-input-dark {
  background-color: #233042bb;
  border-inline: solid 0px #8c19d8;
  transition: all 0.15s ease;
}

.input-color {
  color: $primary;
}

.input-color-dark {
  color: #fff;
}

.q-field__input:focus {
  background-color: transparent;
}

.auth-input:hover,
.auth-input:focus-within,
.auth-input-dark:hover,
.auth-input-dark:focus-within {
  background-color: $input-focus-bg;
}

.auth-input:focus-within,
.auth-input-dark:focus-within {
  border-inline-width:5px;
}

.app-logo {
  left: 35%;
}

.page-title-pl-5 {
  margin-left: -10px !important;
}

.summary-spinner {
  padding-left: 35vw;
}

.back-button {
  left: -13px;
}

.q-table--vertical-separator td, 
.q-table--vertical-separator th, 
.q-table--cell-separator td, 
.q-table--cell-separator th {
  border-right-width: 1px;
  border-left-width: 0;
}

@media(max-width: $breakpoint-sm-max) {
  .q-dialog__inner--minimized {
    padding: 24px 0 !important;
  }

  .summary-spinner {
    padding-left: 43vw;
  }
}

@media(max-width: $breakpoint-xs-max) {
  .decrease-mt-mobile {
    margin-top: -10px;
  }
}

.increase-paging-mt {
  margin-top: -10px;
}

.decrease-paging-mt {
  margin-top: 10px;
}

.img-thumbnail {
  border: solid 5px floralwhite;
}

.justify-data-options {
  padding-right: 0;
}

.card-section {
  max-height: 100vh;
}

@media(min-width: 1023px) {
  .justify-data-options {
    padding-right: 10px;
  }

  .card-section {
    max-height: 60vh;
  }
}

.table-scroll-area {
  height: 55vh; 
  max-width: 100vw; 
  margin-top: -30px
}

.no-paging-scroll-area {
  height: 60vh; 
  max-width: 100vw; 
}

.in-form-scroll-area {
  height: 39vh; 
  max-width: 100vw; 
  margin-top: -10px;
}

@media(max-width: $breakpoint-xs-max) {
  .in-form-scroll-area {
    height: 60vh;
  }
}

@media(min-width: 1920px) {
  .table-scroll-area {
    height: 73vh; 
  }
}

.on-left {
  margin-right: 8px !important;
}

.decrease-col-size {
	width: 25px;
	padding-right: 0 !important;
  padding-left: 10px !important;
}

.force-elevated {
  z-index: 999 !important;
}