// app global css in SCSS form

.q-card {
  box-shadow: 3px 2px 15px #00000042;
}

.menu-list {
  .q-router-link--exact-active,
  .q-item:hover,
  .q-focus-helper,
  .q-item-type {
    border-radius: 10px !important;
  }

  .q-list--padding {
    padding: 8px;
  }
}

.q-btn,
.q-btn-group {
  border-radius: 10px;
}

.q-btn {
  padding-top: 7px;
  padding-bottom: 7px;
}

.q-btn-group .q-btn {
  padding-top: 5px;
  padding-bottom: 5px;
}

.q-dialog__backdrop {
  backdrop-filter: blur(5px);
  background-color: #00000069;
}

@media (max-width: $breakpoint-xs-max) {
  $fc-listmonth-radius: 15px 15px 0 0;
  $padding-y: 5px;

  .fc .fc-list-sticky .fc-list-day > * {
    background: $primary !important;
  }

  .fc .fc-list-table td,
  .fc .fc-list-day-cushion {
    padding: 12px 14px !important;
  }

  .fc .fc-list-sticky .fc-list-day:first-child > * {
    border-radius: $fc-listmonth-radius;
  }

  .fc-theme-standard .fc-list {
    border: none !important;
    border-radius: 15px;
    box-shadow: $shadow-6;
  }

  .fc-theme-standard .fc-list-day-cushion,
  .fc .fc-cell-shaded,
  .fc .fc-day-disabled {
    background-color: transparent !important;
  }

  .fc .fc-list-empty {
    border-radius: 15px;
  }

  $fc-list-item-bg: transparent !important;

  .fc-list-event:hover > .fc-theme-standard .fc-list {
    background-color: $fc-list-item-bg;
  }

  .fc-list-event:hover > .fc-list-event-title {
    background-color: $fc-list-item-bg;
  }

  .fc-list-event:hover > .fc-list-event-graphic {
    background-color: $fc-list-item-bg;
  }

  .fc-list-event:hover > .fc-list-event-time {
    background-color: $fc-list-item-bg;
  }

  .fc-list-day {
    color: #fff;
  }
  .mobile-form-btn {
    width: 100%;
    border-radius: 30px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-top: 10px;
  }
}

.fc .fc-scrollgrid-section-sticky > * {
  background: var(--fc-page-bg-color) !important;
}

.bg-login {
  height: calc(100vh + 5px);
  overflow: hidden;
  margin-top: -5px;
  z-index: 99;
}

.auth-box {
  width: 100%;
  // border-radius: 8px !important;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
  // background-color: #fff;
}

.auth-box-dark {
  border-color: rgba(255, 255, 255, 0.28);
  background: #3f3d4d;
  color: #fff;
  margin-top: 30px;
}

@media (max-width: $breakpoint-xs-max) {
  .auth-box {
    margin-top: 60px;
    margin-left: 5% !important;
    background-color: transparent;
    box-shadow: none;
  }

  .auth-box-dark {
    margin-top: 60px;
    left: 5px;
    background: #3f3d4d;
  }

  .auth-input,
  .auth-input-dark {
    border-radius: 28px !important;
  }

  .powered-style {
    filter: invert(1);
  }

  .bg-img-light {
    background: #fff !important;
  }
  .input-color {
    color: #000 !important;
  }
}

@media (max-width: $breakpoint-sm-max) {
  .auth-box,
  .auth-box-dark {
    margin-top: 80px;
  }
}

.bg-img-light {
  background: url('../../public/bg-login-light.png');
  background-size: cover;
}

.bg-img-dark {
  background: url('../../public/bg-login-dark.png');
  background-size: cover;
  margin-left: -10px;
}

$input-focus-bg: #6252c76c;

.auth-input,
.auth-input-dark {
  border-radius: 6px;
}

.auth-input {
  background-color: #66a3ff9a;
  border-inline: solid 0px #8c19d8;
  transition: all 0.15s ease;
}

.auth-input-dark {
  background-color: #233042bb;
  border-inline: solid 0px #8c19d8;
  transition: all 0.15s ease;
}

.input-color {
  color: $primary;
}

.input-color-dark {
  color: #fff;
}

.q-field__input:focus {
  background-color: transparent;
}

.auth-input:hover,
.auth-input:focus-within,
.auth-input-dark:hover,
.auth-input-dark:focus-within {
  background-color: $input-focus-bg;
}

.auth-input:focus-within,
.auth-input-dark:focus-within {
  border-inline-width: 5px;
}

.app-logo {
  left: 37%;
}

.page-title-pl-5 {
  margin-left: -10px !important;
}

.summary-spinner {
  padding-left: 35vw;
}

.back-button {
  left: -13px;
}

.q-table--vertical-separator td,
.q-table--vertical-separator th,
.q-table--cell-separator td,
.q-table--cell-separator th {
  border-right-width: 1px;
  border-left-width: 0;
}

@media (max-width: $breakpoint-sm-max) {
  .q-dialog__inner--minimized {
    padding: 24px 0 !important;
  }

  .summary-spinner {
    padding-left: 43vw;
  }
}

@media (max-width: $breakpoint-xs-max) {
  .decrease-mt-mobile {
    margin-top: -10px;
  }
}

.increase-paging-mt {
  margin-top: -10px;
}

.decrease-paging-mt {
  margin-top: 10px;
}

.img-thumbnail {
  border: solid 5px floralwhite;
}

.justify-data-options {
  padding-right: 0;
}

.card-section {
  max-height: 100vh;
}

@media (min-width: 1023px) {
  .justify-data-options {
    padding-right: 10px;
  }

  .card-section {
    max-height: 60vh;
  }
}

.table-scroll-area {
  height: 55vh;
  max-width: 100vw;
  margin-top: -30px;
}

.no-paging-scroll-area {
  height: 60vh;
  max-width: 100vw;
}

.in-form-scroll-area {
  height: 39vh;
  max-width: 100vw;
  margin-top: -10px;
}

@media (max-width: $breakpoint-xs-max) {
  .in-form-scroll-area {
    height: 60vh;
  }
}

@media (min-width: 1920px) {
  .table-scroll-area {
    height: 73vh;
  }
}

.on-left {
  margin-right: 8px !important;
}

.decrease-col-size {
  width: 25px;
  padding-right: 0 !important;
  padding-left: 10px !important;
}

.force-elevated {
  z-index: 999 !important;
}
