.q-page-container {
  background-color: blueviolet;
}

.q-drawer {
  margin-left: 20px;
  border-radius: 30px;
  margin-top: 30px;
  bottom: 50px;
  border: none !important;
}

.ac-user-image {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
